@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Comfortaa&family=Lobster&family=News+Cycle&family=Righteous&display=swap');

.App {
  padding: 2%;
  display: flex;
  text-align: center;
  background-color: #F3F4F5;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
  color: #181A33;
  font-family: 'News Cycle', sans-serif;
}

.App-header {
  align-self: center;
  flex: 1;
  padding: 5px;
  text-align: center;
  background: #8C70C5;
  color: #F3F4F5;
  font-size: 100px;
  font-family: 'Lobster', cursive;
}

.navbar {
  display:grid;
  background-color: #8C70C5;
  justify-content: space-evenly;
  align-items:center;
  flex-wrap: wrap;
  gap: 1em;
  color: #181A33;
}

.allArticle{
  width: 300px;
  border: 5px solid  #695893;
  padding: 20px;
  margin: 20px;
  color: #151a60;
  font-family: 'Comfortaa', cursive;
}
.article{
  width: auto;
  border: 5px solid  #695893;
  padding: 20px;
  margin: 20px;
  color: #151a60;
  font-family: 'Comfortaa', cursive;
}

.commentsContainer{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #151a60;
  font-family: 'Comfortaa', cursive;
}

  .comment {
  width: 300px;
  border: 5px solid  #695893;
  padding: 20px;
  margin: 20px;
}
